services:
  web:
    build: ./odoo/.
    ports:
      - 8069:8069
    depends_on:
      - db
    environment:
      - ADMIN_DB_PASS=${ADMIN_DB_PASSWORD}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - USER=${WEB_USER}
      - PASSWORD=${WEB_PASSWORD}
      - DB=${WEB_DB}
    networks:
      - my-odoo-network
  db:
    build:
      context: ./postgres-db/.
      args:
        - USER_DB=${USER_DB}
        - MOD=${MOD}
        - PASSWORD=${PASSWORD}
    networks:
      - my-odoo-network
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER}
networks:
  my-odoo-network:
    driver: bridge
volumes:
  db-data:
